<h1> Hello! Find out how hot is it today! </h1>

<%= form_tag({controller: "wheather", action: "getweatherinfo"}, method: "get", class: "") do %>
  <%= label_tag(:zip, "Enter zip code:") %>
  <%= text_field_tag(:zip) %>
  <%= submit_tag("Search") %>
<% end %>

<div class='result'>
  <% if @result[:status] == 'error' %>
    <div class='error'>
      error here
    </div>
  <% end %>

  <% if @result[:status] == 'success' %>
    <div class='success'>
      success here
    </div>
  <% end %>
</div>

<br>

<%= link_to 'Configure temperature aliases', temperature_configs_path %>